html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-dark.dker, .bg-dark>.dker {
	background-color: #303030 !important;
}

.bg-dark {
	background-color: #444;
	color: #fff !important;
}


.Footer {

    height:48px; /* Replace with the height your footer should be*/
    width: 100%; /* Don't change*/
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
	right:0pt;

}

.footer_contents {

    height:48px; /* Replace with the height your footer should be*/
    width: 1000px; /* Visible width of footer*/
    margin:auto;

}




.Footer p, #footer p {
	padding: 1.2rem 0;
	margin: 0;
	text-align: center;
}

p {
	margin: 0 0 10px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


.div-tab-body-active{
    display: active;
    margin-top:10px;
    width:100%;
    height:350px;
}


.div-tab-body-inactive{
    display: none;
    margin-top:10px;
    width:100%;
    height:350px;
}


.image_light {
    position:relative;
    width:100px;
    height:100px;
}

.text_light {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    left:5px;
    right:5px;
    width: 90%;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ui-jqgrid .ui-state-highlight { background: yellow; }
.ui-jqgrid-btable .ui-state-highlight { background: yellow; }


.sub-label-1{
    font-size: 80%;
}

tr.highlight td.jsgrid-cell {
    background-color:  #36aaed;
}


.manual_dim_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.manual_dim_slider:hover {
  opacity: 1;
}

.manual_dim_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0168b2;
  cursor: pointer;
}

.manual_dim_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0168b2;
  cursor: pointer;
}

.jsgrid-cell {
    word-wrap: break-word;
}


.table td {
   text-align: center;
}

.table th {
   text-align: center;
}
